.WeekContainerFilled {
    box-sizing: border-box;
    background-color: #1f1f1f;
    height: 1.3vw;
    width: 1.3vw;
    margin-left: 1px;
    margin-right: 1px;
    z-index: 100;
}

.WeekContainerEmpty{
    box-sizing: border-box;
    border: 1px solid #1f1f1f;
    height: 1.3vw;
    width: 1.3vw;
    margin-left: 1px;
    margin-right: 1px;
    z-index: 100;
}
